.map {
	display : inline-block;
	margin-top : 100px;
	margin-left : 60px;
	width : 60%;
	height : 700px;
	float : left;
}

#utils {
	margin-top : 100px;
	display : inline-block;
	float : left;
	margin-left : 20px;
	vertical-align : top;
	width : 30%;
}

#utils label {
	float : left;
	margin-top : 12px;
	font-weight : bolder;
}

.seg-header {
	margin-top : 8px;
	float : left;
	font-weight : bolder;
	text-decoration : underline;
}

.search-button, #export-png {
	margin-top : 8px;
	margin-right : 8px;
	float : left;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
